@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Spirax&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #181717;
}

#header {
  background-color: #131212;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-family: Spirax, Arial, sans-serif;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
}

#header a {
  text-decoration: none;
}

#bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

#bar li {
  list-style: none;
  margin-right: 40px;
}

#bar a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

#bar a:hover {
  background-color: #fff;
  color: blueviolet;
  border-radius: 20%;
}

.active {
  background-color: aqua;
  border-radius: 20%;
}

/* Hero image */

#img-one {
  height: 450px;
  width: 100%;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img-one:hover {
  background-image: url("../images/bottom-image.jpg");
}

/* hero image cover text */

#img-container {
  position: relative;
  overflow: hidden;
}

#img-text {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(231, 231, 221, 0.9);
  font-size: 160%;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 150px;
  padding-left: 10px;
  padding-top: 30px;
  height: 100px;
  width: 380px;
  opacity: 0;
  transition: opacity 0.5s;
  color: #140313;
}

#img-container:hover #img-text {
  opacity: 1;
}

/* inspiration */
#inspiration {
  width: 100%;
  height: 800px;
}

#inspiration h1 {
  align-items: center;
  text-align: center;
  padding: 20px;
}

#img-top-left {
  height: 450px;
  width: 100%;
  background-image: url("../images/about-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-top-right {
  height: 450px;
  width: 100%;
  background-image: url("../images/girl-exercising-gym.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-bottom-left {
  height: 450px;
  width: 100%;
  background-image: url("../images/people-having-fun-zumba-class.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-bottom-right {
  height: 450px;
  width: 100%;
  background-image: url("../images/young-woman-stretching-before-workout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-top-left {
  width: 50%;
  height: auto;
  float: left;
  text-align: center;

  overflow: hidden;
}

.container-top-right {
  width: 50%;
  height: auto;
  float: right;
  text-align: center;
  overflow: hidden;
}

.container-bottom-left {
  width: 50%;
  height: auto;
  float: left;
  text-align: center;
  overflow: hidden;
}

.container-bottom-right {
  width: 50%;
  height: auto;
  float: right;
  text-align: center;
  overflow: hidden;
}

.container-top-left {
  position: relative;
  overflow: hidden;
}
.container-top-right {
  position: relative;
  overflow: hidden;
}
.container-bottom-left {
  position: relative;
  overflow: hidden;
}
.container-bottom-right {
  position: relative;
  overflow: hidden;
}

.container-top-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container-top-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container-bottom-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container-bottom-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container-text-top-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}
.container-text-top-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

.container-text-bottom-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

.container-text-bottom-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

#inspiration {
  width: 100%;
  height: 977px;
}
#inspiration h2 {
  color: #12108a;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

#inspiration p {
  color: #250317;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.container-top-left:hover .container-text-top-left {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-top-right:hover .container-text-top-right {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-bottom-left:hover .container-text-bottom-left {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-bottom-right:hover .container-text-bottom-right {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom h2 {
  color: #12108a;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.bottom-container {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}

#schedule {
  width: 100%;
  height: 250px;
}

#one {
  float: left;
  width: 20%;
  height: 250px;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

#two {
  float: left;
  width: 20%;
  height: 250px;
  background-color: rgb(255, 200, 127);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
#three {
  float: left;
  width: 20%;
  height: 250px;
  background-color: rgb(242, 255, 127);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
#four {
  float: left;
  width: 20%;
  height: 250px;
  background-color: rgb(255, 127, 244);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
#five {
  float: right;
  width: 20%;
  height: 250px;
  background-color: rgb(129, 127, 255);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

#one:hover {
  transform: scale(1.2);
}
#two:hover {
  transform: scale(1.2);
}
#three:hover {
  transform: scale(1.2);
}
#four:hover {
  transform: scale(1.2);
}
#five:hover {
  transform: scale(1.2);
}

/* footer */

footer {
  background-color: darkgoldenrod;
  width: 100%;
  height: 100px;
  color:#250317;
  bottom: 0;
}

.social-media-button {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px;
}

.social-media-button > li {
  display: inline;
}

.social-media-button i {
  font-size: 160%;
  margin: 1%;
  padding: 4%;
  color: rgb(53, 14, 145);
}
