@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Spirax&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #181717;
}

#header {
  background-color: #131212;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-family: Spirax, Arial, sans-serif;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
  }

#header a {
    text-decoration: none;
}

#bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

#bar li {
  list-style: none;
  margin-right: 40px;
}

#bar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

#bar a:hover {
    background-color: #fff;
    color: blueviolet;
    border-radius: 20%;
}

.active {
    background-color: aqua;
    border-radius: 20%;
}

/* Hero image */

#img-one {
    height: 450px;
    width: 100%;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img-one:hover {
    background-image: url("../images/bottom-image.jpg") ;
}

/* hero image cover text */

#img-container {
    position: relative;
    overflow: hidden;
  }

  
  #img-text {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(231, 231, 221, 0.9);
    font-size: 160%;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 150px;
    padding-left: 10px;
    padding-top: 30px;
    height: 100px;
    width: 380px;
    opacity: 0;
    transition: opacity 0.5s;
    color: #140313;
}

#img-container:hover #img-text {
    opacity: 1;
  }

  /* inspiration */
#inspiration {
  height: 700px;
}

#top-left {
  padding-top: 35px;
  width: 45%;
  height: 45%;
  float: left;
  align-items: center;
  background-color: rebeccapurple;
}

#top-right {
  padding-top: 35px;
  width: 45%;
  height: 45%;
  float: right;
  align-items: center;
  background-color: red;
}

#bottom-left {
  padding-top: 35px;
  width: 45%;
  height: 45%;
  float: left;
  align-items: center;
  background-color: rosybrown;
}

#bottom-right {
  padding-top: 35px;
  width: 45%;
  height: 45%;
  float: right;
  align-items: center;
  background-color: gold;
}


