@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Spirax&display=swap");

:root {
  --background: rgba(255, 24, 250, 0.85);
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #181717;
}

#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#wraper {
  flex: auto;
}


/* Hero image */
#img-container {
  height: 450px;
}

#img-one {
  height: 450px;
  width: 100%;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img-one:hover {
  background-image: url("../images/bottom-image.jpg");
}

/* hero image cover text */

#img-text {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(231, 231, 221, 0.9);
  font-size: 160%;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  bottom: 100px;
  left: 100px;
  padding-left: 10px;
  height: 100px;
  width: 380px;
  opacity: 0;
  transition: opacity 0.5s;
  color: #140313;
}

#img-container:hover #img-text {
  opacity: 1;
}

/* Motivation */
#motivation {
  width: 100%;
  height: 800px;
  margin-top: 10px;
}

#motivation h1 {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container-top-left {
  width: 50%;
  height: 450px;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.container-top-right {
  width: 50%;
  height: 450px;
  float: right;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.container-bottom-left {
  width: 50%;
  height: 450px;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.container-bottom-right {
  width: 50%;
  height: 450px;
  float: right;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#img-top-left {
  height: 450px;
  width: 100%;
  background-image: url("../images/about-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-top-right {
  height: 450px;
  width: 100%;
  background-image: url("../images/girl-exercising-gym.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-bottom-left {
  height: 450px;
  width: 100%;
  background-image: url("../images/people-having-fun-zumba-class.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#img-bottom-right {
  height: 450px;
  width: 100%;
  background-image: url("../images/young-woman-stretching-before-workout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-text-top-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}
.container-text-top-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

.container-text-bottom-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

.container-text-bottom-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.8s;
  background-color: rgba(240, 240, 240, 0.5);
}

#motivation {
  width: 100%;
  height: 977px;
}
#motivation h2 {
  color: #12108a;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

#motivation p {
  color: #250317;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.container-top-left:hover .container-text-top-left {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-top-right:hover .container-text-top-right {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-bottom-left:hover .container-text-bottom-left {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

.container-bottom-right:hover .container-text-bottom-right {
  opacity: 1;
  background-color: #fff;
  padding: 80px 20px 80px;
}

/* Available schedule */
.bottom-container {
  height: 130px;
}

.bottom-container h2 {
  color: #12108a;
  font-size: 35px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 25px;
}

#one {
  margin-left: 5%;
  float: left;
  width: 18%;
  height: 50px;
  background-color: aquamarine;
  border-radius: 5%;
  text-align: center;
  transition: transform 0.5s ease;
}

#two {
  float: left;
  width: 18%;
  height: 50px;
  background-color: rgb(218, 138, 33);
  border-radius: 5%;
  text-align: center;
  transition: transform 0.5s ease;
}
#three {
  float: left;
  width: 18%;
  height: 50px;
  background-color: rgb(242, 255, 127);
  border-radius: 5%;
  text-align: center;
  transition: transform 0.5s ease;
}
#four {
  float: left;
  width: 18%;
  height: 50px;
  background-color: rgb(255, 127, 244);
  border-radius: 5%;
  text-align: center;
  transition: transform 0.5s ease;
}
#five {
  float: left;
  width: 18%;
  height: 50px;
  background-color: rgb(116, 98, 199);
  border-radius: 5%;
  text-align: center;
  transition: transform 0.5s ease;
}

#one:hover {
  transform: scale(1.1);
}
#two:hover {
  transform: scale(1.1);
}
#three:hover {
  transform: scale(1.1);
}
#four:hover {
  transform: scale(1.1);
}
#five:hover {
  transform: scale(1.1);
}

/* footer */
#footer {
  bottom: 2vh;
}

.social-media {
  background-color: darkgoldenrod;
  color: #250317;
}

.social-media-button {
  text-align: center;
}

.social-media-button > li {
  display: inline;
  margin-right: 3em;
}

.social-media-button i {
  font-size: 160%;
  padding: 4%;
  color: rgb(53, 14, 145);
}

/*  Gallery */
.column {
  column-count: 4;
  clear: both;
  margin-bottom: 10px;
}
.frame {
  position: relative;
  height: 200px;
  border: 10px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  top: 10px;
  margin-bottom: 10px;
}

.frame:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ccc transparent;
}

.frame:after {
  position: absolute;
  content: "";
  right: -8px;
  bottom: -8px;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #ccc transparent transparent transparent;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.current {
  overflow: hidden;
}

.current {
  transition: 0.8s ease;
}

.current:hover {
  border-color: #ec1616;
}

/* Sign Up */
.form {
  width: 100%;
  height: 500px;
}

.form-img {
  background-image: url("../images/fat_people.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 66%;
  height: 500px;
  float: left;
}
.form-container {
  width: 33%;
  height: 150px;
  float: right;
}

.form-container .signup {
  width: 20em;
  height: auto;
  color: black;
  background-color: rgba(98, 119, 22, 0.2);
  padding: 25px;
  border: 5px solid #e2a9d4;
  border-radius: 7px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.8);
  margin: 5px auto 25px 0;
}

.signup h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup label {
  display: flex;
  font-weight: bold;
  margin-bottom: 2px;
}

.signup input {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 1px solid greenyellow;
  border-radius: 8px;
  background-color: darkgray;
}

.signup input:hover {
  background-color: white;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #09300a;
}

.form-container .location {
  width: 66%;
  height: 10px;
}

/* map */

#map h2 {
  width: 100%;
  text-align: center;
  background-color: rgb(57, 179, 46);
}

#location {
  height: 100%;
  width: 100%;
  border: none;
}

/* Media query */

/* from larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
  .container-top-left {
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .container-top-right {
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .container-bottom-left {
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .container-bottom-right {
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}

/* from small screen sizes from 850px wide and down */
@media screen and (max-width: 850px) {

  header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  header a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    background: var(--background);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    top: 100%;
    display: none;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    text-transform: uppercase;
  }

  nav a:hover {
    color: #000;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }
}
